
.login-page {
	height: 100%;
	background: url('../components/images/desktop-login.png') no-repeat center center;
	background-size: cover;
	box-sizing: border-box;
	
}

.login-page .center , .register-page  .center {
    background-color: midnightblue;
	color: goldenrod;
	
}


.login-page #title, .register-page #title {
    font-size: 2.2em;
    padding: 20px;
	color: goldenrod;
	font-family: 'Girassol', cursive;
}

.login-page .form .field label {
	color: goldenrod;
	font-family: 'Special Elite', cursive;
}

.register-page .form .field label {
	color: goldenrod;
	font-family: 'Special Elite', cursive;
}

.login-page button {
	
}

.login-page .accounts_link > *, .register-page .accounts_link > * {
	color: goldenrod;
	font-family: 'Special Elite', cursive;
}

.register-page {
	height: 100vh;
	background: url('../components/images/desktop-register-page.png') no-repeat center center fixed;
	background-size: cover;
	background-position: center;
}